<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Scenes</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="icon" href="/icon.png" />
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<lucos-navbar>Scenes</lucos-navbar>
		<main>
			{% for input-name,input in inputs %}
				<h2>{{input-name}} Actions</h2>
				<ul>
					{% for action-name, function in input.actions %}
					<li>
						<form action="/v1/{{input-name}}/{{action-name}}" method="post">
							<input type="submit" value="{{action-name}}" />
						</form>
					</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</main>
		<script src="/lucos_navbar.js" type="text/javascript"></script>
		<script type="text/javascript">
			document.querySelectorAll("form").forEach(form => {
				form.addEventListener("submit", async event => {
					event.preventDefault();
					form.dataset.loading = true;
					await fetch(form.action, {method: form.method});
					delete form.dataset.loading;
				});
			});
		</script>
	</body>
</html>