body {
	background: #acf;
}
main {
	margin: auto;
	max-width: 300px;
}
h2 {
	text-transform: capitalize;
}
ul {
	padding-inline: 0;
}
li {
	list-style: none;
	display: inline;
}
li form {
	display: inline;
}
li form input {
	width: 96px;
	height: 96px;
	border-width: 2px;
	border-radius: 48px;
	display: inline;
	cursor: pointer;
    background-color: #ffe;
    border-style: groove;
    font-family: Georgia, serif;
}
li form[data-loading] input {
	background-color: #aac;
}